# Node modules
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed

# dotenv environment variables
.env

# Test coverage
coverage/

# IDE/editor folders
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
